@import "../../../../styling/breakpoints";

:host {
  width: 30%;
  @media screen and (max-width: $mobile) {
    width: 45%;
  }
  margin: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 0;
  .blog-image-container {
    overflow: hidden;
    height: 15rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .blog-title {
    margin-top: 1rem;
  }
}
