@import "~@angular/material/theming";

@mixin color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $grey-palette: mat-palette($mat-grey);

  .sci-news-item-list {
    .show-more {
      color: mat-color($primary);
      background-color: mat-color($primary, lighter);
      border-color: mat-color($grey-palette, 300);
    }
  }
}

@mixin theme($theme) {
  $color: mat-get-color-config($theme);

  @if $color {
    @include color($color);
  }
}
