@use 'screen';

:host {
  .header {
    color: #757575;
  }

  .news-item-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    min-height: 20rem;

    .news-item {
      width: 33.33%;
      @include screen.breakpoint(tablet) {
        width: 50%;
      }
      @include screen.breakpoint(mobile) {
        width: 100%;
      }
    }
  }
}
