<h2 class="header2">In the News</h2>

<!-- FormGroup -->
<form [formGroup]="searchForm" class="search-form">
  
  <div class="group1">
    <mat-form-field class="input-year">
      <mat-label>Year</mat-label>
      <mat-select formControlName="year">
        <mat-option value="">
          All
        </mat-option>
        <mat-option *ngFor="let year of yearList" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <div class="sort-filters">
      <div class="sort publication" (click)="toggleSort('publication')">
        <div>Source</div>
        <mat-icon [class.reversed]="publicationOrder === 'asc'">arrow_downward</mat-icon>
      </div>
    </div>  
  </div>
  
  <div class="search-overlay" [ngClass]="{'open': isSearchOpen}">
    <div (click)="isSearchOpen = false" class="icon-container search-off-icon-container">
      <mat-icon *ngIf="isSearchOpen" class="icon-search-off" svgIcon="search:search_off" aria-hidden="false" aria-label="search"></mat-icon>
    </div>
    <div class="input-search" [@isSearchOpenTrigger] *ngIf="isSearchOpen" (@isSearchOpenTrigger.done)="afterAnimation($event)">
      <mat-form-field>
        <mat-label> </mat-label>
        <input matInput formControlName="search" placeholder="Type search" #searchInput />
      </mat-form-field>  
    </div>
    <div class="icon-container search-icon-container" (click)="isSearchOpen = true" >
      <mat-icon *ngIf="!isSearchOpen" class="icon-search" aria-hidden="false" aria-label="search">search</mat-icon>
    </div>
    <div class="icon-container close-icon-container">
      <mat-icon *ngIf="isSearchOpen" (click)="clearSearch()"  class="icon-search-close" aria-hidden="true" svgIcon="search:search_close"></mat-icon>
    </div>
  </div>
</form>

<div class="news-item-list">
  <ng-container *ngIf="displayedNewsItems.length > 0">
    <div *ngFor="let item of displayedNewsItems; let i = index" class="news-item">
      <sci-news-item *ngIf="showAllItems || i < displayLimit" [item]="item"></sci-news-item>
    </div>
  </ng-container>
  <div class="no-search" *ngIf="displayedNewsItems.length == 0">
    <p class="no-result-text">
      No results matched your search
    </p>
  </div>
  <div class="total">
    {{ showAllItems ? displayedNewsItems.length : displayLimit }} / {{newsItems.length}}
  </div>
  <div class="show-more" *ngIf="needShowMoreButton()" (click)="showAllItems = !showAllItems">
    {{ showButtonText }}
  </div>
</div>