<h2 class="header">In the news</h2>
<div class="filter-header">


  <!-- FormGroup -->
  <form [formGroup]="searchForm" class="search-form">
    <mat-form-field class="input-year">
      <mat-label>Year</mat-label>
      <mat-select formControlName="year">
        <mat-option value="">
          All
        </mat-option>
        <mat-option *ngFor="let year of yearList" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="sort-filters">
      <!-- <div class="sort date" (click)="sort('date')">
      <div>Date</div>
      <mat-icon [class.reversed]="dateOrder === 'desc'">filter_list</mat-icon>
    </div>
    <div class="sort title" (click)="sort('title')">
      <div>Title</div>
      <mat-icon [class.reversed]="titleOrder === 'asc'">filter_list</mat-icon>
    </div>
    <div class="sort publication" (click)="sort('publication')">
      <div>Publication</div>
      <mat-icon [class.reversed]="publicationOrder === 'asc'">filter_list</mat-icon>
    </div> -->
      <div class="sort publication" (click)="toggleSort('publication')">
        <div>Source</div>
        <mat-icon [class.reversed]="publicationOrder === 'asc'">arrow_downward</mat-icon>
      </div>
    </div>

    <div class="search-overlay">
      <div class="input-search" [@isSearchOpenTrigger] *ngIf="isSearchOpen" (@isSearchOpenTrigger.done)="afterAnimation($event)">
        <mat-form-field>
          <input matInput formControlName="search" placeholder="Type search" #input />
        </mat-form-field>  
      </div>
      <div class="search-icon">
        <mat-icon *ngIf="!isSearchOpen" aria-hidden="false" aria-label="search" (click)="isSearchOpen = true">search</mat-icon>
        <mat-icon *ngIf="isSearchOpen" aria-hidden="false" aria-label="search" (click)="isSearchOpen = false">close</mat-icon>
      </div>
    </div>
  </form>
</div>

<div class="news-item-list">
  <div *ngFor="let item of displayedNewsItems; let i = index" class="news-item">
    <sci-news-item *ngIf="showAllItems || i < displayLimit" [item]="item"></sci-news-item>
  </div>
  <div class="show-more" *ngIf="needShowMoreButton()" (click)="this.showAllItems = !this.showAllItems">
    {{ showButtonText }}
  </div>
</div>