<div [formGroup]="searchForm" class="search-overlay" [ngClass]="{'open': isSearchOpen}">
    <div class="icon-container search-icon-container" (click)="isSearchOpen = true">
        <mat-icon class="icon-search" aria-hidden="false" aria-label="search">search</mat-icon>
    </div>
    <div class="input-search" *ngIf="isSearchOpen">
        <mat-form-field>
            <mat-label> </mat-label>
            <input matInput formControlName="search" placeholder="Type search" #searchInput />
        </mat-form-field>
    </div>
    <div class="icon-container close-icon-container">
        <mat-icon *ngIf="isSearchOpen" (click)="clearSearch()" class="icon-search-close" aria-hidden="true"
            svgIcon="search:search_close"></mat-icon>
    </div>
</div>