:host {
  margin-top: auto;
  margin-bottom: auto;

  .search-overlay {
    display: flex;
    flex-direction: row;  
    z-index: 2;
    .input-search {
      input {
        color: #212121;
      }
    }

    .icon-container {
      z-index: 2;
      user-select: none;
      margin: auto 0;
      cursor: pointer;
    }

    .icon-search {
      color: #7997a3;
    }
  }
}
