$desktop: 1248px;
$tablet: 960px;
$mobile: 640px;

:host {
  .lazy-table {
    @media (max-width: $desktop) {
      display: none;
    }
  }
  .mobile-cards {
    @media (min-width: $desktop) {
      display: none;
    }
  }
}