<!-- Year dropdown -->
<h1 class="header1">Venues</h1>


<div class="row">
    <div class="group1">
        <sci-select [select]="year" [options]="yearList" (selectChange)="onSelectChange($event)">
        </sci-select>
        <sci-table *sciBreakpoint="'desktop-'" [initialSort]="{column: 'dateStart', direction: 'desc'}" [headersOnly]="true"  [dataSource]="dataSource" [tableHeaders]="sortHeaders">
        </sci-table>
    </div>
    <div class="group2">
        <sci-search-overlay [search]="searchKey" (searchChange)="onSearchChange($event)">
        </sci-search-overlay>
    </div>
</div>


<!-- Card View -->
<sci-list-view *sciBreakpoint="'desktop-'" class="venues-list"
    [config]="{type: 'venues', items: (dataSource.connect().asObservable() | async) || [], displayLimit: 6, showAllItems: false}">
</sci-list-view>

<!-- Table View -->
<sci-venues-table *sciBreakpoint="'desktop'" [initialSort]="{column: 'dateStart', direction: 'desc'}" [dataSource]="dataSource" [tableHeaders]="tableHeaders">
</sci-venues-table>

<hr class="divider" />
<div class="spacer-48"></div>

<!-- Expand Collapse -->
<sci-accordian [header]="body.accordianHeader" [content]="body.accordianContent">
</sci-accordian>

<router-outlet></router-outlet>