$desktop: 1248px;
$tablet: 960px;
$mobile: 640px;

:host {
  .lazy-table {
    @media (max-width: $desktop) {
      display: none;
    }
  }
  .mobile-cards {
    @media (min-width: $desktop) {
      display: none;
    }
  }

  .searchForm {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    .input-year {
      max-width: 4rem;
      margin-right: 3rem;
    }
    
    .input-search {
      max-width: 10rem;
      input {
        color: #212121;
      }
    }
  }
  

  .search-overlay {
    // margin-left: auto;
    display: flex;
    flex-direction: row;
    overflow: visible;
    z-index: 2;
    
    &.open {
      padding: 0 1rem;
      box-shadow: 0px 5px 10px 0px #e0e0e0cc;    
    }
    .input-search {
      // @include screen.breakpoint(mobile) {
      //   margin-left: 0;
      // }
      input {
        color: #212121;
      }
    }

    .icon-container {
      z-index: 2;
      user-select: none;
      margin: auto 0;
      cursor: pointer;
    }

    .icon-search {
      color: #7997a3;
    }
  }
}