@use "~@angular/material/theming" as *;



@mixin color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);

  .venues-table {
    .mat-sort-header-arrow {
      border-radius: 0.25rem;
      color: black;
      &:hover {
          opacity: 1;
          background-color: #e0e0e0;
      }
    }
  }
}

@mixin typography($config-or-theme) {
  $config: mat-get-typography-config($config-or-theme);
}

@mixin theme($theme) {
  $color: mat-get-color-config($theme);
  $typography: mat-get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $typography != null {
    @include typography($typography);
  }
}