<!-- Year dropdown -->
<form [formGroup]="searchForm" class="searchForm">
  <mat-form-field class="input-year">
      <mat-label>Year</mat-label>
      <mat-select formControlName="year">
          <mat-option value="">
              All
          </mat-option>
          <mat-option *ngFor="let year of yearList" [value]="year">
              {{year}}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <!-- Search Filter -->
  <mat-form-field class="input-search">
      <mat-icon aria-hidden="false" aria-label="search" matSuffix>search</mat-icon>
      <input matInput formControlName="search" placeholder="Type search" #input />
  </mat-form-field>
</form>

<!-- Table -->
<table mat-table [dataSource]="dataSource" matSort class="venues-table">
  <caption> Venue table </caption>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>

  <!-- DateStart -->
  <ng-container matColumnDef="dateStart">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Start</th>
      <td mat-cell *matCellDef="let element">
          {{ element.dateStart | date: "dd-MM-yyyy" }}
      </td>
  </ng-container>

  <!-- DateEnd -->
  <ng-container matColumnDef="dateEnd">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>End</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dateEnd | date: "dd-MM-yyyy" }}
      </td>
  </ng-container>

  <!-- Title -->
  <ng-container matColumnDef="title">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          <strong> Event </strong>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <!-- Location -->
  <ng-container matColumnDef="city">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let element">{{ element.city }}</td>
  </ng-container>

  <!-- Ogranizer -->
  <ng-container matColumnDef="organizer">
    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Contact</th>
    <td mat-cell *matCellDef="let element">{{ element.organizer }}</td>
</ng-container>
  <!-- Rows -->
  <tr mat-row *matRowDef="
    let row;
    columns: columns
  "></tr>
</table>

<!-- Paginator -->
<mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"></mat-paginator>