$desktop: 1248px;
$tablet: 960px;
$mobile: 640px;

:host {
  .lazy-table {
    @media (max-width: $desktop) {
      display: none;
    }
  }
  .mobile-cards {
    @media (min-width: $desktop) {
      display: none;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem;
    // select box
    .group1 {
      display: flex;
      flex-direction: row;
      width: 100%;
      overflow: hidden;

      .sci-select {
      }
      .sci-sort-headers {
      }
    }
    .sci-search-overlay {
      overflow: visible;
    }
  }
}
