:host {
  display: block;

  .swiper-container {
    .swiper-wrapper {

      margin-bottom: 3rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
      top: unset;
      bottom: 0.75rem;
    }

    .swiper-pagination {
      bottom: 1rem;
    }
  }
}
