<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
  <swiper *ngIf="type == 'component' && show" class="swiper-container" fxFlex="auto" [config]="config" [disabled]="disabled">
    <div *ngFor="let slide of slides" class="swiper-slide">
      <div class="carousel-content">
        <img class="carousel-image" [src]="slide" alt="Place image title">
        <div class="carousel-space"></div>
      </div>
    </div>
  </swiper>
  <div class="swiper-pagination"></div>
</div>
