@import "~@angular/material/theming";


@mixin color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $grey: mat-palette($mat-grey);

  .sci-mobile-header-menu {
    border-top-color: rgba(0, 0, 0, 0.2);

    button.link {
      color: mat-color($primary, lighter-contrast);
      border-radius: 0;
      
      &.active, &:hover {
        background-color: mat-color($primary, 0.15);
      }
    }

    .top-border-overlay {
      background-color: white;
    }

    .filler {
      background-color: mat-color($grey, 50);
    }
  }
}

@mixin theme($theme) {
  $color: mat-get-color-config($theme);

  @if $color {
    @include color($color);
  }
}
