:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  border-top-width: 1px;
  border-top-style: solid;

  .search, .link {
    height: 3rem;
  }

  .search, .link:last-child {
    margin-bottom: 0.5rem;
  }

  .link {
    text-align: left;
  }

  .top-border-overlay {
    position: absolute;
    width: 5.25rem;
    height: 0.25rem;
    top: -0.125rem;
    right: 0;
  }

  .filler {
    flex-grow: 1;
  }
}
