$desktop: 1248px;
$tablet: 960px;
$mobile: 640px;

:host {
  display: flex;
  width: 100%;

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
  }

  .column {
    width: 50%;

    @media (max-width: $tablet) {
      width: 100%;
    }

    &.text-column {
      padding-right: 3rem;

      @media (max-width: $mobile) {
        padding-right: 0rem;
      }
    }

    &.carousel-column {
      display: flex;
      justify-content: space-around;

      @media (max-width: $mobile) {
        margin-bottom: 1rem;
      }
    }

    .fake-carousel {
      width: 100%;
      max-width: 400px;
      height: 250px;
      background-color: gray;
    }

    .title {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
      color: #757575;
    }

    .publisher {
      margin-bottom: 1rem;
    }

    .show-more {
      cursor: pointer;
    }

    .links {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: $mobile) {
        flex-direction: column;
        display: flex;
      }

      .button {
        text-decoration: none;
        margin-right: 1rem;
        padding: .5rem;
        margin-top: 1rem;
        white-space: nowrap;
        border: 1px solid;

        @media (max-width: $mobile) {
          text-align: center;
          margin-right: 0rem;
        }
      }
    }
  }
}