$single-column-max-width: 768px;
$button-span-max-width: 480px;

:host {
  display: flex;
  flex-direction: row;
  width: 100%;

  .text-column,
  .carousel-column {
    width: 50%;
    max-width: 600px;
  }

  .text-column {
    padding-right: 3rem;

    .title {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }

    .publisher {
      margin-bottom: 1rem;
    }

    .markdown.partial {
      display: none;
    }

    .show-more {
      display: none;
      cursor: pointer;
    }

    .links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 1rem;

      .button {
        margin: 1rem 1rem 0 0;
        padding: 0.5rem;
        border: 1px solid;
        text-decoration: none;
        white-space: nowrap;
      }
    }
  }

  .carousel-column {
    display: flex;
    justify-content: space-around;
    .carousel {
      width: 100%;

      .carousel-item {
        display: flex;
        flex-direction: column;

        img {
          height: auto;
          object-fit: cover;
        }
      }
    }
  }

  @media (max-width: $single-column-max-width) {
    flex-direction: column-reverse;

    .text-column,
    .carousel-column {
      width: 100%;
    }

    .text-column {
      padding-right: 0;

      .markdown.full {
        display: none;
      }

      .markdown.partial {
        display: initial;
      }

      .show-more {
        display: initial;
      }
    }

    .carousel-column {
      margin-bottom: 1rem;
    }
  }

  @media (max-width: $button-span-max-width) {
    .text-column .links {
      flex-direction: column;

      .button {
        width: 100%;
        margin-right: 0;
        text-align: center;
      }
    }
  }
}
