@use '~@angular/material/theming' as *;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .sci-book-overview {
    .title {
      color: mat-color($primary, 500);
    }

    .show-more {
      color: mat-color($accent, 500);
    }

    .button {
      border-color: mat-color($primary, 500);
      color: mat-color($primary, 500);

      &:hover {
        color: mat-color($primary, 100);
        background-color: mat-color($primary, 500);
      }
    }
  }
}