<div class="text-column">
  <h3 class="title">{{ book.title }}</h3>
  <div class="author">Author: {{ book.author }}</div>
  <div class="publisher">Published by: {{ book.publisher }}</div>
  <div class="markdown full" markdown [data]="fullContent"></div>
  <div class="markdown partial" markdown [data]="partialContent"></div>
  <div *ngIf="hasLongContent" class="show-more" (click)="fullContentVisible = !fullContentVisible">
    {{ fullContentVisible ? 'Show less' : 'Read more...' }}
  </div>
  <div class="links">
    <a *ngIf="book.pdfLink" class="button" target="_blank" rel="noreferrer noopener" [href]="book.pdfLink">
      BOOK EXCERPT (PDF)
    </a>
    <a *ngIf="book.amazonLink" class="button" target="_blank" rel="noreferrer noopener" [href]="book.amazonLink">
      BUY ON AMAZON
    </a>
  </div>
</div>
<div class="carousel-column">
  <sci-carousel class="carousel">
    <sci-carousel-item *ngFor="let image of book.images; index as i">
      <ng-container *sciBreakpoint="'mobile-'; else: desktop">
        <img [src]="image.sm" alt="Image #{{ i }} for book {{ book.title }}">
      </ng-container>
      <ng-template #desktop>
        <img [src]="image.lg" alt="Image #{{ i }} for book {{ book.title }}">
      </ng-template>
    </sci-carousel-item>
  </sci-carousel>
</div>
