<!-- <sci-card-link *ngFor="let card of testCards" [cardData]="card"></sci-card-link> -->
<h1 class="header1"> Hosting </h1>

<div class="highlight-content">
    <div class="overview-container">
        <div markdown [data]="overviewText"></div>
        <div class="spacer-24"></div>
        <div class="pdf-docs">
            <a [href]="masterBooklet" class="master-booklet">Information Booklet (PDF)</a>
            <a [href]="installGuide" class="install-guide">Installation Guide (PDF)</a>
        </div>
    </div>
    <div class="carousel-container">
        <sci-carousel *sciBreakpoint="'desktop'" class="carousel">
            <sci-carousel-item class="sci-carousel-item" *ngFor="let item of carouselImages">
                <div class="carousel-item">
                    <img [src]="item.lg" class="carousel-image" [alt]="item.lg.split('/')[3]">
                    <div class="carousel-image-title">{{ item.title }}</div>
                </div>
            </sci-carousel-item>
        </sci-carousel>
        <sci-carousel *sciBreakpoint="'desktop-'" class="carousel">
            <sci-carousel-item class="sci-carousel-item" *ngFor="let item of carouselImages">
                <div class="carousel-item">
                    <img [src]="item.sm" class="carousel-image" [alt]="item.sm.split('/')[3]">
                    <div class="carousel-image-title">{{ item.title }}</div>
                </div>
            </sci-carousel-item>
        </sci-carousel>
    </div>
</div>

<div class="spacer-72"></div>
<hr class="divider">

<div class="main-content">
    <div class="col1">
        <div *sciBreakpoint="'mobile+'" class="tabs">
            <sci-tab-header class="tab-header" [tabs]="tabHeaders" (activeTabIndexChanged)="updateActivePageTab($event)">
            </sci-tab-header>
            <div class="spacer-48">
            </div>
            <div class="tab-content">
                <ng-container *ngFor="let tab of tabHeaders; let i = index;">
                    <div *ngIf="i == activePageTab" markdown [data]="tabContents[activePageTab]">
                    </div>
                </ng-container> 
            </div> 
        </div>
        <div *sciBreakpoint="'mobile-'" class="mobile-tabs">
            <div class="mobile-button" *ngFor="let tab of tabHeaders; let i = index" (click)="updateActivePageTab(i); showDrawer = true">
                {{tab}}
                <mat-icon class="mobile-icon">chevron_right</mat-icon>
            </div>
            <sci-drawer [@drawerInOut] *ngIf="showDrawer" class="tab-drawer">
                <div drawer>
                    <div>
                        <div class="drawer-header">
                            <mat-icon class="mobile-icon" (click)="showDrawer = false;">chevron_left</mat-icon>
                            <div class="mobile-title">
                               <h3>{{tabHeaders[activePageTab]}} </h3> 
                            </div>
                        </div>
                        <div>
                            <div markdown [data]="tabContents[activePageTab]"></div>
                        </div>
                    </div>
                </div>
            </sci-drawer>
            <div class="spacer-48"></div>
        </div>
    </div>
</div>

<div class="spacer-72">
</div>

<div class="bannerText">
    <div markdown [data]="bannerText">
    </div>
</div>

<div class="spacer-72">
</div>

<h1 class="header1">
    Learning Material that come with Exhibit.
</h1>