$desktop: 1248px;
$tablet: 960px;
$mobile: 640px;
@use 'screen';

:host {
  .divider {
    background-color: #e0e0e0;
    border-bottom-color: #e0e0e0;
    border-left-color: #e0e0e0;
    border-right-color: #e0e0e0;
    border-top: 0px solid #e0e0e0;
    margin: 12px 0;
  }
  .highlight-content {
    display: flex;
    flex-direction: row;
    width: 100%;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      border: none;
    }

    .overview-container {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-right: 1rem;
      @media (max-width: $tablet) {
        width: 100%;
        padding: 0rem;
      }

      .pdf-docs {
        display: flex;
        flex-direction: row;

        .install-guide {
          margin-left: 2rem;
        }
      }
    }

    .carousel-container {
      display: flex;
      justify-content: space-around;
      width: 50%;
      max-height: 28rem;

      @media (max-width: $tablet) {
        width: 100%;
        padding: 0rem;
        margin-bottom: 1rem;
      }

      .carousel {
        width: 100%;

        .sci-carousel-item {
          .carousel-item {
            display: flex;
            flex-direction: column;

            .carousel-image {
              height: 20rem;
              object-fit: cover;
            }

            .carousel-image-title {
              padding: 1rem;
              height: 3.75rem;
            }
          }
        }
      }
    }
  }

  .main-content {
    display: flex;
    flex-direction: row;
    @include screen.breakpoint(mobile) {
      flex-direction: column;
    }

    .col1 {
      flex: 3; // 75% - 25%
      // tab and tab header
      display: flex;
      flex-direction: column;
      // on mobile 100%
      @include screen.breakpoint(mobile) {
        flex: 1;
      }
      .tabs {
        .tab-content {
          // padding: 1rem;
          // border: 1px solid black;
        }
      }
      .mobile-tabs {
        display: flex;
        flex-direction: column;
        .mobile-button {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 0.75rem;
          font-size: 1rem;
          cursor: pointer;
          .mobile-icon {
            font-size: 1.5rem;
            height: 1.5rem;
            width: 1.5rem;
            cursor: pointer;
          }

          @media (min-width: $mobile) {
            display: none;
          }
        }
      }
    }

    // Position drawers from Parent.
    .tab-drawer {
      position: absolute;
      top: 0;
      background-color: white;
      width: 100%;
      height: 100%;
    }

    .drawer-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1.5rem;
      .mobile-icon {
        cursor: pointer;
      }
      .mobile-title {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 0;
        h3 {
          margin-bottom: 0 !important;
        }
      }
    }
  }

  .bannerText {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #f9fcf5;
  }
}
