:host  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;

  .card {
    width: 18rem;
    margin: .5rem;
    cursor: pointer;

    .card-header{
      font-size: 20px;
    }
  }
}