@use 'screen';

:host {
  .search-form {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    .input-year {
      max-width: 4rem;
      margin-right: 3rem;
    }

    .input-search {
      max-width: 10rem;
      input {
        color: #212121;
      }
    }
  }

  .group1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    .input-year {
      max-width: 4rem;
      margin-right: 2rem;
      
    }

    .sort-filters {
      display: flex;
      height: 3rem;
      align-items: center;
      // justify-content: center;
      // overflow: hidden;
      // width: 100%;

      @include screen.breakpoint(mobile) {
        // width: 100%;
        // justify-content: space-between;
      }
    }

    .sort {
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-right: 1.5rem;
      cursor: pointer;
      user-select: none;
      -moz-user-select: none;

      // @include screen.breakpoint(mobile) {
      //   margin-right: 0.5rem;
      // }

      mat-icon {
        width: 36px;
        height: 36px;
        border-radius: 100%;

        padding-left: 6px;
        padding-top: 6px;

        transform: scale(-1);
        transition: transform 200ms;
        margin-left: 0.5rem;
        color: #7997a3;
        &:hover {
          background-color: #dce0e2;
          transform: scale(-1.1);
        }
      }
      .reversed {
        transform: scale(1);
        &:hover {
          background-color: #dce0e2;
          transform: scale(1.1);
        }
      }
    }
  }
  .search-overlay {
    // margin-left: auto;
    display: flex;
    flex-direction: row;
    overflow: visible;
    z-index: 2;

    &.open {
      padding: 0 1rem;
      box-shadow: 0px 5px 10px 0px #e0e0e0cc;
    }
    .input-search {
      // @include screen.breakpoint(mobile) {
      //   margin-left: 0;
      // }
      input {
        color: #212121;
      }
    }

    .icon-container {
      z-index: 2;
      user-select: none;
      margin: auto 0;
      cursor: pointer;
    }

    .icon-search {
      color: #7997a3;
    }
  }
}
