:host {
  // Overlay styling
  $bgcolor: black;
  .sci-drawer {
    background-color: $bgcolor;
    .overlay-container {
      background-color: $bgcolor;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 80vh;
      .iframe {
        width: 100%;
        height: 56vw;
        border: 0;
      }
      .long-description {
        color: white;
      }
    }
  }
}
