<sci-drawer [@drawerInOut] *ngIf="showOverlay" class="sci-drawer">
    <div drawer class="drawer">
        <sci-drawer-header backText="Maker Videos" (backClick)="close()">
        </sci-drawer-header>
        <div class="overlay-container">
            <iframe class="iframe"
                [src]="video.videoLink | safe: 'resourceUrl'"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <div class="spacer-72">
            </div>
            <div class="long-description" markdown [data]="video.long_description">
            </div>
        </div>
    </div>
</sci-drawer>