$desktop: 1248px;
$tablet: 960px;
$mobile: 805px;

:host {

  .card-tray {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      width: 48%;
      min-height: 12rem;
      margin-bottom: 2rem;
      min-width: 25rem;

      @media (max-width: $mobile) {
        width: 100%;
      }

      .card-header {
        display: flex;
        justify-content: space-between;
        padding: .75rem;
        white-space: nowrap;

        .dates {
          font-weight: 600;
          margin-bottom: 0rem;
        }

        .media {
          .media-icons {
            .icon {
              font-size: 1.75rem;
              height: 1.75rem;
              width: 1.75rem;
              cursor: pointer;
            }

            &:not(:first-child) {
              margin-left: .5rem;
            }
          }
        }
      }

      .card-body {
        padding: .75rem;
        font-size: 1.1rem;

        div {
          line-height: 1.5rem;
        }
      }
    }
  }

  .more-button {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  .mb-45 {
    margin-bottom: .45rem;
  }

  .ml-50 {
    margin-left: .5rem;
  }
}