<div class="card-tray">
  <div class="card mat-elevation-z4" *ngFor="let item of displayItems">
    <div class="card-header">
      <h3 class="dates">{{ item.startDate }} - {{ item.endDate }}</h3>
      <div class="media">
        <div *ngIf="!!item.media" class="media-icons">
          <mat-icon *ngFor="let link of item.media.links" class="icon" (click)="goToLink(link.url)">{{ link.icon }}</mat-icon>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="mb-45">{{ item.event }}</div>
      <div class="mb-45">{{ item.location }}</div>
      <div class="mb-45">{{ item.contact }}</div>
    </div>
  </div>
</div>

<div class="more-button" (click)="showMore()" *ngIf="moreItemsToDisplay">Show More Venues</div>