<div class="text-content">
  <h3 class="header">{{ discoverItem.title }}</h3>
  <div *sciBreakpoint="'desktop-'">
    <div class="markdown full" markdown [data]="fullContent"></div>
  </div>

  <div *sciBreakpoint="'desktop'">
    <div *ngIf="!fullContentVisible" class="markdown partial" markdown [data]="partialContent"></div>
    <div [@contentTrigger] *ngIf="fullContentVisible" class="markdown full" markdown [data]="fullContent"></div>
    <div
      *ngIf="hasLongContent"
      class="show-more"
      (click)="fullContentVisible = !fullContentVisible">
      {{ fullContentVisible ? "Show less" : "Read more..." }}
    </div>
  </div>
</div>

<div class="image-content">
  <div class="thumbnail desktop" *ngFor="let thumbnail of discoverItem.thumbnails; let i = index" (click)="desktopThumbnailClickHandler(thumbnail.link)">
    <img class="thumbnail-image" [src]="imageSource(thumbnail.image)" [alt]="thumbnail.image">
    <ng-template [ngIf]="type == 'submissions'">
      <h4>{{i + 1}}. {{thumbnail.title}}</h4>
    </ng-template>
    <ng-template [ngIf]="type == 'macroscopes'">
      <h4 class="macroscope-title">{{thumbnail.title}}</h4>
    </ng-template>
  </div>

  <div class="thumbnail mobile" *ngFor="let thumbnail of discoverItem.thumbnails;" (click)="mobileThumbnailClickHandler(thumbnail.link)">
    <img class="thumbnail-image" [src]="imageSource(thumbnail.image)" [alt]="thumbnail.image">
  </div>
</div>
