<h1 class="header1"> Call for Submissions </h1>
<div class="image-content">
    <div class="thumbnail desktop" *ngFor="let thumbnail of lastIterationThumbnails">
      <img class="thumbnail-image" [src]="thumbnail.image" [alt]="thumbnail.image">
    </div>

    <div class="thumbnail mobile" *ngFor="let thumbnail of lastIterationThumbnails">
      <img class="thumbnail-image" [src]="thumbnail.image" [alt]="thumbnail.image">
    </div>
</div>

<div class="spacer-48">
</div>

<div class="row">
    <div class="due">
        <h4> Submissions due: {{ importantDates.length ? importantDates[0][1] : ''}}</h4>
    </div>
    <div class="download" *ngIf="pdfLink">
        <h4> /
            <a [href]="pdfLink" target="_blank" rel="noopener noreferrer">
                Download Details PDF
            </a>
        </h4>
    </div>
</div>

<div class="spacer-24">
</div>


<div class="main-content">
    <div class="col1">
        <div *sciBreakpoint="'mobile+'" class="tabs">
            <mat-tab-group>
                <ng-container *ngFor="let tab of tabHeaders;let i = index;">
                    <mat-tab [label]="tab">
                        <div class="tab-content">
                            <div markdown [data]="tabContents[i]"></div>
                        </div>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </div>
        <div *sciBreakpoint="'mobile-'" class="mobile-tabs">
            <div class="mobile-button" *ngFor="let tab of tabHeaders; let i = index" (click)="updateActivePageTab(i); showDrawer = true">
                {{tab}}
                <mat-icon class="mobile-icon">chevron_right</mat-icon>
            </div>

            <!-- drawer -->
            <sci-drawer [@drawerInOut]="showDrawer ? 'show' : 'hide'" *ngIf="showDrawer" class="sci-drawer">
                <div class="drawer-container" drawer>
                    <sci-drawer-header [title]="tabHeaders[activePageTab]" (backClick)="showDrawer = false">
                    </sci-drawer-header>
                    <div class="drawer-content">
                        <div markdown [data]="tabContents[activePageTab]"></div>
                    </div>
                </div>
            </sci-drawer>
        </div>
    </div>
    <div class="spacer-48"></div>
    <div class="col2">
        <button type="button"class="submit" (click)="submitMacroscope()" [ngClass]="allowSubmission ? 'active' : 'disabled'" [disabled]="!allowSubmission">
            SUBMIT MACROSCOPE
        </button>
        <div class="spacer-72"></div>
        <div class="call-out">
            <sci-call-out [title]="'Important Dates'" [items]="importantDates"></sci-call-out>
        </div>
    </div>
</div>
