<h1 class="header1"> Call for Macroscopes </h1>

<div>
    Banner
</div>

<div class="row">
    <div class="due">
        Submissions due: March 15, 2021 /
    </div>
    <div class="download">
        <a href="">
            Download Details PDF
        </a>
    </div>
</div>

<div class="spacer-24">
</div>


<div class="main-content">
    <div class="col1">
        <div *sciBreakpoint="'mobile+'" class="tabs">
            <sci-tab-header class="tab-header" [tabs]="tabHeaders" (activeTabIndexChanged)="updateActivePageTab($event)">
            </sci-tab-header>
            <div class="spacer-24">
            </div>
            <div class="tab-content">
                <ng-template [ngIf]="activePageTab == 0">
                    <div markdown [data]="tabContents[0]">
                    </div>
                </ng-template>
                <ng-template [ngIf]="activePageTab == 1">
                    <div markdown [data]="tabContents[1]">
                    </div>
                </ng-template>
                <ng-template [ngIf]="activePageTab == 2">
                    <div markdown [data]="tabContents[2]">
                    </div>
                </ng-template> 
            </div> 
        </div>
        <div *sciBreakpoint="'mobile-'">
            <div>
                Tabs for mobile
            </div>
        </div>
    </div>

    <div class="col2">
        <div>
            <button class="submit">
                Submit a Macroscope
            </button>
        </div>
        <div class="spacer-16"></div>
        <div class="call-out">
            <sci-call-out [title]="'Important Dates'" [items]="importantDates"></sci-call-out>
        </div>
    </div>
</div>
