@use 'screen';

:host {
  .tab-header {
    margin-bottom: 1rem;
  }

  .profile-gallery {
    margin-bottom: 2.5rem;
  }
  .intro {
    .image-container {
      width: 100%;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
      }
      margin-bottom: 48px;
    }
  
    .description {
      display: flex;
      flex-direction: row;
      div {
        flex: 1;
      }
      .right {
        padding-left: 2rem;
      }
      margin-bottom: 24px;
    }
  }
  .reports {
    .row {
      display: flex row;
    }
  }
  .partners {
    .header2 {
      text-align: center;
    }

    .logos {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .flex-item {
        width: 50%;
        padding: 1rem;
        
        img {
          display: block;
          max-width: 280px;
          max-height: 50px;
          &:hover {
            opacity: 0.7;
            cursor: pointer;
          }
        }
        .left-aligned {
          margin-right: auto;
        }
        .right-aligned {
          margin-left: auto;
        }
        @include screen.breakpoint(mobile) {
          width: 100%;
          margin: 0 auto;
          .left-aligned {
            margin-right: auto;
            margin-left: auto;
          }
          .right-aligned {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    } 
  }
}