<sci-tab-header class="tab-header" [tabs]="pageTabs" (activeTabIndexChanged)="updateActivePageTab($event)"></sci-tab-header>

<ng-template [ngIf]="activePageTab == 0">
    <sci-profile-gallery
    class="profile-gallery"
    [title]="'Curatorial Team'"
    [description]="curatorsDescription"
    [profiles]="curatorProfiles"
    [compact]="false">
  </sci-profile-gallery>
  
  <sci-profile-gallery
    [title]="'Advisory Board'"
    [description]="advisoryBoardDescription"
    [profiles]="advisoryBoardProfiles"
    [compact]="false">
  </sci-profile-gallery>  
</ng-template>

<ng-template [ngIf]="activePageTab == 1">
    <sci-profile-gallery
    [title]="'Exhibit Ambassadors'"
    [description]="ambassadorsDescription"
    [profiles]="ambassadorProfiles"
    [compact]="false">
  </sci-profile-gallery>  
</ng-template>
 
