
<!-- Galary -->
<sci-tab-header class="tab-header" [tabs]="pageTabs" (activeTabIndexChanged)="updateActivePageTab($event)"></sci-tab-header>
<ng-template [ngIf]="activePageTab == 0">
    <sci-profile-gallery
    class="profile-gallery"
    [title]="'Curatorial Team'"
    [description]="curatorsDescription"
    [profiles]="curatorProfiles"
    [compact]="false">
  </sci-profile-gallery>
  
  <sci-profile-gallery
    [title]="'Advisory Board'"
    [description]="advisoryBoardDescription"
    [profiles]="advisoryBoardProfiles"
    [compact]="false">
  </sci-profile-gallery>  
</ng-template>

<ng-template [ngIf]="activePageTab == 1">
    <sci-profile-gallery
    [title]="'Exhibit Ambassadors'"
    [description]="ambassadorsDescription"
    [profiles]="ambassadorProfiles"
    [compact]="false">
  </sci-profile-gallery>  
</ng-template>

<!-- News -->
<sci-news-item-list [newsItems]=newsItems>
</sci-news-item-list>

<!-- Partners -->
<div class="partners">
  <h2 class="header2"> Thanks to the following for their support </h2>
  <div class="logos">
    <ng-container *ngFor="let partner of partners;let i = index;let even = even;">
      <div class="row" *ngIf="even">
        <div class="column1">
          <img [src]="partner.logo" [alt]="partner.name" (click)="openLink(partners[i+1].link)">
        </div>
        <div class="column2">
          <img *ngIf="(i+1) < partners.length" [src]="partners[i+1].logo" [alt]="partners[i+1].name" (click)="openLink(partners[i+1].link)">
        </div>
      </div>
    </ng-container>
  </div>
</div>
 
