<sci-tab-header class="tab-header" [tabs]="pageTabs" (activeTabIndexChanged)="updateActivePageTab($event)"></sci-tab-header>

<ng-template [ngIf]="activePageTab == 0">
    <sci-profile-gallery
    class="profile-gallery"
    [title]="'Curatorial Team'"
    [description]="curatorsDescription"
    [profiles]="curatorProfiles"
    [compact]="false">
  </sci-profile-gallery>
  
  <sci-profile-gallery
    [title]="'Advisory Board'"
    [description]="advisoryBoardDescription"
    [profiles]="advisoryBoardProfiles"
    [compact]="false">
  </sci-profile-gallery>  
</ng-template>

<ng-template [ngIf]="activePageTab == 1">
    <sci-profile-gallery
    [title]="'Exhibit Ambassadors'"
    [description]="ambassadorsDescription"
    [profiles]="ambassadorProfiles"
    [compact]="false">
  </sci-profile-gallery>  
</ng-template>



<sci-news-item-list [newsItems]=newsItems>
</sci-news-item-list>

<!-- Partners -->
<div class="partners">
  <h2 class="header2"> Thanks to the following for their support </h2>
  <div class="logos">
    <div class="row">
      <img src="../../../assets/logos/logo-cns.svg" alt="CNS">
      <img src="../../../assets/logos/logo-luddy-school.svg" alt="Luddy">
    </div>
    <div class="row">
      <img src="../../../assets/logos/logo-james-s-mcdonnell-foundation.svg" alt="James and Macdonnel foundation">
      <img src="../../../assets/logos/logo-thomson-reuters.svg" alt="Thomson reuters">
    </div>
    <div class="row">
      <img src="../../../assets/logos/logo-nsf.svg" alt="NSF">
      <img src="../../../assets/logos/logo-elsevier.svg" alt="Elsevier">
    </div>
  </div>
</div>
 
