@use 'screen';

:host {
  .tab-header {
    margin-bottom: 1rem;
  }

  .profile-gallery {
    margin-bottom: 2.5rem;
  }

  .partners {
    .header2 {
      text-align: center;
    }

    .logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .flex-item {
        width: 50%;
        .left-aligned {
          margin-right: auto;
        }
        .right-aligned {
          margin-left: auto;
        }
        @media (max-width: 640px) {
          width: 100%;
          margin: 0 auto;
          .left-aligned {
            margin-right: auto;
            margin-left: auto;
          }
          .right-aligned {
            margin-left: auto;
            margin-right: auto;
          }
        }
        padding: 1rem;
        
        img {
          display: block;
          max-width: 280px;
          max-height: 50px;

          &:hover {
            opacity: 0.7;
            cursor: pointer;
          }
        }
      }
    } 
  }
}