$desktop: 1248px;
$tablet: 960px;
$mobile: 640px;

::ng-deep {
  .swiper-button-prev, .swiper-button-next {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    padding: 1.5rem;
    top: 50% !important;
  }

  .swiper-button-prev::after, .swiper-button-next::after {
    color: white !important;
  }
}

:host {

  .highlight-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    @media (max-width: $mobile) {
      flex-direction: column-reverse;
      border: none;
    }

    .highlight-body {
      width: 50%;
      padding-right: 1rem;

      @media (max-width: $mobile) {
        width: 100%;
        padding: 0rem;
      }
    }

    .carousel-container {
      display: flex;
      justify-content: space-around;
      width: 50%;

      @media (max-width: $mobile) {
        width: 100%;
        padding: 0rem;
        margin-bottom: 1rem;
      }

      .fake-carousel {
        width: 95%;
        max-width: 500px;
        height: 300px;
        background-color: lightgray;
      }
    }
  }

  .discover-item {
    margin-bottom: 2rem;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  .more-button {
    width: 100%;
    margin-bottom: 2rem;
    height: 2.5rem;
    font-size: 1rem;
    background-color: #EBF0F1;
    color: #7996A3;
    border: 1px solid #E0E0E0;
    cursor: pointer;

    &:hover {
      background-color: #7996A3;
      color: white;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  .mobile-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 0.75rem;
    font-size: 1rem;
    color: gray;
    cursor: pointer;
    margin-bottom: 2rem;

    .mobile-icon {
      color: gray;
      font-size: 1.5rem;
      height: 1.5rem;
      width: 1.5rem;
    }

    @media (min-width: $mobile) {
      display: none;
    }
  }

  .fullscreen-modal {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: 1rem;

    .modal-header {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;

      .mobile-title {
        display: flex;
        justify-content: space-around;
        width: 100%;

        h3 {
          margin-bottom: 0rem !important;
        }
      }
    }
  }
} 