@use '~@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $primary: map-get($config, primary);

}

@mixin typography($config-or-theme) {
  $config: mat.get-typography-config($config-or-theme);

}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color {
    @include color($color);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
