<sci-drawer
  [@drawerInOut]="showDrawer ? 'show' : 'hide'"
  *ngIf="showDrawer"
  class="sci-drawer"
>
  <div class="drawer-container" drawer>
    <sci-drawer-header title="Blogs" backText="Back" (backClick)="goBack()">
    </sci-drawer-header>
    <div class="drawer-content">
      <div class="blogs-row">
        <ng-container *ngFor="let blog of blogs">
          <sci-blog-tile [blog]="blog"></sci-blog-tile>
        </ng-container>
      </div>
    </div>
  </div>
</sci-drawer>

<router-outlet></router-outlet>

