<div class="gallery-item">
    <mat-icon class="close-icon" (click)="closeDrawer()">close</mat-icon>
    <h2 class="header2">{{item.title}}</h2>
    <div class="details">
        <div>Date: {{item.dateStart | date:'mediumDate':'+0000' }}</div>
        <div>Photoes By: {{item.credit}}</div>
    </div>
    <div class="thumbnails-container">
        <div class="thumbnail" *ngFor="let image of item.venueImages;let i = index" (click)="overlayImage = item.venueImages[i].lg; showOverlay = true">
            <img [src]="image.sm" [alt]="image.sm">
        </div>
    </div>
</div>


<sci-drawer *ngIf="showOverlay && overlayImage" class="overlay-drawer">
    <div drawer class="drawer">
        <mat-icon class="close-icon" (click)="showOverlay = false">close</mat-icon>
        <div class="overlay-container">
            <img [src]="overlayImage" [alt]="overlayImage">
        </div>
    </div>
</sci-drawer>