<div class="gallery-item">
    <h2 class="header2">{{item.title}}</h2>
    <div class="details">
        <div>Date: {{item.dateStart | date:'mediumDate' }}</div>
        <div>Photoes By: {{item.credit}}</div>
    </div>
    <div class="thumbnails-container">
        <div class="thumbnail" *ngFor="let image of item.venueImages;let i = index" (click)="overlayImage = item.venueImages[i].lg; showOverlay = true">
            <img [src]="image.sm" [alt]="image">
        </div>
    </div>
</div>


<sci-drawer *ngIf="showOverlay && overlayImage" class="overlay-drawer">
    <div drawer class="drawer">
        <!-- out of flow -->
        <div class="close" (click)="showOverlay = false">
            Close
        </div>
        <div class="overlay-container">
            <img [src]="overlayImage" alt="">
        </div>
    </div>
</sci-drawer>