@use 'screen';

:host {
  .news-item {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 0.5rem; // 8px
    border-radius: 0.125rem;
    max-height: 8rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.54);

    @include screen.breakpoint(mobile) {
      flex-direction: column;
      max-height: 16rem;
    }

    .thumb {
      width: 9rem;
      object-fit: cover;
      border-width: 0.125px;
      border-style: solid;
      @include screen.breakpoint(mobile) {
        height: 6rem;
        width: 100%;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      
      .card-header {
        display: flex;
        flex-direction: row;
        height: 3rem; // 48px
        background-color: #f5f5f5;
        padding: 1rem;
        justify-content: space-between;
        
        .date {
          color: #757575;
          text-transform: uppercase;
          font-size: 1rem;
          overflow: hidden;
        }
        .download {
          // display: inline;
        }
      }
      
      .body {
        padding: 1rem;
        height: 72px;

        .title {
          font-size: 1rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .link {
          font-size: 1rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          a {
            text-decoration: none;
            color: #8DC63F;
          }
        }

        .identifier {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-top: 0.25rem;
          color: #757575;
          font-size: 1rem;
          overflow: hidden;
        }
      }
    }

    &:hover {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.54);
    }
  }
}
