<a class="news-item" [href]="item.pdfLink">
  <!-- <img class="thumb" [src]="item.thumbnail" alt="image thumbnail"> -->
  <div class="info">

    <div class="card-header">
      <div class="date mat-display-1">
        {{ item.date | date:'mediumDate' }}
      </div>
      <div class="download">
        icon
      </div>
    </div>

    <div class="body">
      <!-- Title -->
      <div class="row">
        <div class="title">
          {{ item.title }}
        </div>
      </div>

      <!-- Source -->
      <div class="row">
        <div class="identifier">
          {{ item.publication }} {{ item.institution ? 'at' + item.institution : '' }}
        </div>
      </div>
    </div>

  </div>
</a>