<div class="news-item">
  
  <div class="info">
    <div class="card-header">
      <div class="date mat-display-1">
        {{ item.date | date:'mediumDate':'+0000' }}
      </div>
      <div class="download">
        <a *ngIf="item.pdfLink" [href]="item.pdfLink" download>
          <mat-icon class="icon-pdf-download" aria-hidden="true" svgIcon="file:download"></mat-icon>
        </a>
      </div>
    </div>

    <div class="body">
      <!-- Title -->
      <div class="text">
        <!-- Title -->
          <div class="title">
            {{item.title}}
          </div>
      </div>
      <div class="identifier">
        {{item.publication}} {{item.institution ? 'at ' + item.institution : '' }}
      </div>
    </div>
  </div>
</div>