:host {
  display: block;

  .news-item {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    border-radius: 0.125rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.54);

    .thumb {
      width: 9rem;
      object-fit: cover;
      border-width: 0.125px;
      border-style: solid;
    }

    .info {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      .date {
        text-transform: uppercase;
      }

      .title {
        margin: 0.5rem 0;
      }
    }

    &:hover {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.54);
    }
  }
}
