@import '../../../../styling/breakpoints';
$breakpoint: 768px;

$top: 72px;

:host {
    position: fixed;
    top: $top;
    left: 0;
    z-index: 2;
    background-color: white;
    width: 100%;
    height: calc(100% - #{$top});
    overflow-y: scroll;


    .main {
        width: 100%;
        padding: 0 1rem;
        max-width: 80rem;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1rem;
        @media screen and (min-width: $desktop) {
            margin-top: 3rem;
        }
    }
}