$mobile: 640px;
$tablet: 960px;
$desktop: 1248px;

:host {
  .container {
    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      @media (min-width: $desktop) {
        flex-direction: row-reverse;
      }
      .row1 {
        flex: 1;
        margin: 0px auto 2rem auto;
        overflow: hidden;
        img {
          max-width: 100%;
          // max-height: 100%;
        }
      }
      .row2 {
        flex: 1;
        @media (min-width: $desktop) {
          margin-right: 3rem;
        }
      }
    }
  }
}
