$desktop: 1248px;
$tablet: 960px;
$mobile: 640px;
$single-column-max-width: 640px;

:host {
  .profile-item {
    display: flex;
    
    .profile-image {
      height: 6rem;
      width: auto;
    }

    .profile-name {
      font-weight: bold;
    }

    .profile-about {
      width: 50%;
      padding-left: 1rem;
      flex-grow: 2;

      .profile-name,
      .profile-affiliation {
        margin-bottom: 0.25rem;
      }
      .profile-title {
        margin-bottom: 1rem;
      }
    }

    .profile-body {

      .show-more {
        color: #8dc63f;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .full {
        overflow: hidden;
      }
    }
  }
}
