<div class="filter-header">
  <div class="sort publication" (click)="sort('publication')">
    <div>Publication</div>
    <mat-icon [class.reversed]="publicationOrder === 'asc'">filter_list</mat-icon>
  </div>
  <div class="sort date" (click)="sort('date')">
    <div>Date</div>
    <mat-icon>filter_list</mat-icon>
  </div>
  <div class="sort title" (click)="sort('title')">
    <div>Title</div>
    <mat-icon>filter_list</mat-icon>
  </div>
</div>

<div *ngFor="let item of newsItems" class="news-item-list">
  <sci-news-item [item]="item"></sci-news-item>
</div>
