:host {
    width: 100%;
    tr {
      height: 3.5rem;
    }
    th {
      padding: 1rem;
      border-bottom: none;
      font-weight: bold;
      font-size: 1rem;
      color: black;
    }
    td {
      padding: 1rem;
      border-bottom: none;
    }
    a {
      text-decoration: none;
      color: #8dc63f;
    }


    // Sort Icon
    .sort {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      // margin-right: 1.5rem;
      cursor: pointer;
      user-select: none;
      -moz-user-select: none;
      outline: none;

      mat-icon {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        padding-top: 6px;
        opacity: 0.4;
        transform: scale(1);
        transition: transform 200ms;
        margin-left: 0.5rem;
        color: #7997a3;
        &:hover {
          background-color: #dce0e2;
          transform: scale(1.1);
        }
      }
      .active {
        opacity: 1;
        transform: scale(1);
        &:hover {
          background-color: #dce0e2;
          transform: scale(1.1);
        }
      }
      .active.reversed {
        opacity: 1;
        transform: scale(-1);
        &:hover {
          background-color: #dce0e2;
          transform: scale(-1.1);
        }
      }
    }
  }
