<!-- Table -->
<table aria-describedby="table" mat-table [dataSource]="dataSource" matSort matSortDisableClear>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>

    <ng-container *ngFor="let header of tableHeaders" [matColumnDef]="header.key">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="sort">
                <div>
                    {{header.label}}
                </div>
                <mat-icon [ngClass]="{'active': matSort?.active == header.key, 'reversed': matSort?.direction == 'desc'}">arrow_upward</mat-icon>  
            </div>  
        </th>
        
        <ng-template [ngIf]="header.type == 'text'">
            <td mat-cell *matCellDef="let element" [ngStyle]="{'width': header.width + '%'}">
            {{element[header.key]}}
            </td>
        </ng-template>
        <ng-template [ngIf]="header.type == 'date'">
            <td mat-cell *matCellDef="let element" [ngStyle]="{'width': header.width + '%'}">
                {{element[header.key] | date:'mediumDate':'+0000' }}
            </td>
        </ng-template>
        <ng-template [ngIf]="header.type == 'icon'">
            <td mat-cell *matCellDef="let element" [ngStyle]="{'width': header.width + '%'}">
                <div class="icons">
                    <ng-template [ngIf]="element.venueImages">
                        <div class="icon-container">
                            <mat-icon class="icon icon-gallery" (click)="openVenueGalleryDrawer(element)">{{header.icon}}</mat-icon>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="element.pdfLink">
                        <div class="icon-container">
                            <a [href]="element.pdfLink" target="_blank" rel="noopener noreferrer">
                                <mat-icon class="icon icon-pdf" aria-hidden="true" svgIcon="file:download"></mat-icon>
                            </a>
                        </div>
                    </ng-template>
                </div>
            </td>
        </ng-template>
    </ng-container>
    <!-- Rows -->
    <tr class="data-row" mat-row *matRowDef="let row; columns: columns"></tr>
</table>
<!-- Paginator -->
<mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"></mat-paginator>
