<!-- Table -->
<table aria-describedby="table" mat-table [dataSource]="dataSource" matSort matSortDisableClear>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    
    <!-- dateStart -->
    <ng-container matColumnDef="dateStart">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="sort">
                <div>
                    Start
                </div>
                <mat-icon [ngClass]="{'active': matSort?.active == 'dateStart', 'reversed': matSort?.direction == 'desc'}">arrow_upward</mat-icon>  
            </div>
        </th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'width': '15%'}">
            {{element.dateStart | date:'mediumDate':'+0000' }}
        </td>
    </ng-container>

    <!-- dateEnd -->
    <ng-container matColumnDef="dateEnd">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="sort">
                <div>
                    End
                </div>
                <mat-icon [ngClass]="{'active': matSort?.active == 'dateEnd', 'reversed': matSort?.direction == 'desc'}">arrow_upward</mat-icon>  
            </div>
        </th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'width': '15%'}">
            {{element.dateEnd | date:'mediumDate':'+0000' }}
        </td>
    </ng-container>

    <!-- Title -->
    <ng-container matColumnDef="title">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="sort">
                <div>
                    Event
                </div>
                <mat-icon [ngClass]="{'active': matSort?.active == 'title', 'reversed': matSort?.direction == 'desc'}">arrow_upward</mat-icon>  
            </div>
        </th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'width': '25%'}">
            {{element.title}}
        </td>
    </ng-container>
    <!-- Location -->
    <ng-container matColumnDef="city">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="sort">
                <div>
                    Location
                </div>
                <mat-icon [ngClass]="{'active': matSort?.active == 'city', 'reversed': matSort?.direction == 'desc'}">arrow_upward</mat-icon>  
            </div>
        </th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'width': '20%'}">
            {{getLocation(element)}}
        </td>
    </ng-container>
    <!-- ORG  -->
    <ng-container matColumnDef="organizer">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="sort">
                <div>
                    Contact
                </div>
                <mat-icon [ngClass]="{'active': matSort?.active == 'organizer', 'reversed': matSort?.direction == 'desc'}">arrow_upward</mat-icon>  
            </div>
        </th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'width': '15%'}">
            {{element.organizer }}
        </td>
    </ng-container>
    <!--  -->
    <ng-container matColumnDef="venueImages">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="sort">
                <div>
                    Media
                </div>
                <mat-icon [ngClass]="{'active': matSort?.active == 'venueImages', 'reversed': matSort?.direction == 'desc'}">arrow_upward</mat-icon>  
            </div>
        </th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'width': '15%'}">
            <div class="icons">
                <div class="icon-container" *ngIf="element.venueImages">
                    <mat-icon class="icon icon-gallery" (click)="openVenueGalleryDrawer(element)">image</mat-icon>
                </div>
                <div class="icon-container" *ngIf="element.pdfLink">
                    <mat-icon class="icon icon-pdf" area-hidden="true" svgIcon="file:download" (click)="openLink(element.pdfLink)"></mat-icon>
                </div>
            </div>
        </td>
    </ng-container>
    <!-- Rows -->
    <tr class="data-row" mat-row *matRowDef="let row; columns: columns"></tr>
</table>
<!-- Paginator -->
<mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"></mat-paginator>
