$mobile: 640px;
$desktop: 1248px;

:host {
  display: block;
  height: 100%;
  overflow-y: auto;
  
  .mat-drawer-container {
    background-color: white;
  }
  
  .sidenav-container {
    @media (max-width: $mobile) {
      // height: 100%;
      height: calc(100% - 72px);
    }

    .content {
      padding: 0 1rem;

      @media (min-width: $desktop) {
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
      }

      &.home-module {
        max-width: 100%;
        margin: 0;
        padding: 0;
      }
    }
  }
}
