<sci-header [ngClass]="{'scrolled' : hasPageScrolled}" class="header" [(sidenavOpen)]="sidenavOpen"></sci-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav autoFocus="false" mode="over" position="end" fixedInViewport fixedTopGap="72" [opened]="sidenavOpen"
               (closedStart)="sidenavOpen = false">
    <sci-mobile-header-menu *sciBreakpoint="'tablet-'" (sidenavClose)="sidenavOpen = false">
    </sci-mobile-header-menu>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div [@routeAnimations]="prepareRoute(outlet)" class="content">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

 <sci-footer [acknowledgement]="footerParameters.acknowledgement" [phoneNumber]="footerParameters.phoneNumber"></sci-footer>