<sci-header class="header" [(sidenavOpen)]="sidenavOpen"></sci-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="over" position="end" fixedInViewport fixedTopGap="72" [opened]="sidenavOpen"
               (closedStart)="sidenavOpen = false">
    <sci-mobile-header-menu></sci-mobile-header-menu>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div [@routeAnimations]="prepareRoute(outlet)" class="content">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <sci-footer [acknowledgement]="footerParameters.acknowledgement" [phoneNumber]="footerParameters.phoneNumber"></sci-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
