<ng-container *ngFor="let item of submissions;let i = index">
    <div class="main">
        <!-- <h3>{{iteration.title}}</h3>
        <div class="thumbnails">
            <div *ngFor="let t of iteration.thumbnails">
                {{t | json}}
            </div>
        </div> -->
        <sci-discover-listing id="macroscope-{{item.iteration}}" class="discover-item submissions" [discoverItem]="item" [type]="'submissions'">
        </sci-discover-listing>
    </div>
</ng-container>

<router-outlet></router-outlet>