@import "~@angular/material/theming";

@mixin color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);

  .sci-header, .sci-header-menu {
    background-color: white;
  }

  .sci-header .nav-item,
  .sci-header-menu button {
    color: mat-color($primary, darker);

    &.active,
    &:hover {
      background-color: mat-color($primary, 0.15);
    }
  }

  .sci-header {
    .sidenav-toggle.open {
      border-left-color: rgba(0, 0, 0, 0.2);
    }
  }
}

@mixin theme($theme) {
  $color: mat-get-color-config($theme);

  @if $color {
    @include color($color);
  }
}
