<!-- Year dropdown -->
<form [formGroup]="searchForm" class="searchForm">
    <mat-form-field class="input-year">
        <mat-label>Year</mat-label>
        <mat-select formControlName="year">
            <mat-option value="">
                All
            </mat-option>
            <mat-option *ngFor="let year of yearList" [value]="year">
                {{year}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Search Filter -->
    <mat-form-field class="input-search">
        <mat-icon aria-hidden="false" aria-label="search" matSuffix>search</mat-icon>
        <input matInput formControlName="search" placeholder="Type search" #input />
    </mat-form-field>
</form>

<!-- Table -->
<table mat-table [dataSource]="dataSource" matSort class="news-table">
    <caption> News table </caption>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>

    <!-- Date -->
    <ng-container matColumnDef="date">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let element">
            {{ element.date | date: "dd-MM-yyyy" }}
        </td>
    </ng-container>

    <!-- Title -->
    <ng-container matColumnDef="title">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Article title</th>
        <td mat-cell *matCellDef="let element">
            <ng-template [ngIf]="element.sourceUrl" [ngIfElse]="text">
                <a [href]="element.sourceUrl">
                    {{ element.title }}
                </a>
            </ng-template>
            <ng-template #text>
                {{ element.title }}
            </ng-template>
        </td>
    </ng-container>

    <!-- Publication -->
    <ng-container matColumnDef="publication">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
            <strong> Source </strong>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.publication }}</td>
    </ng-container>

    <!-- Author -->
    <ng-container matColumnDef="author">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
        <td mat-cell *matCellDef="let element">{{ element.author }}</td>
    </ng-container>

    <!-- pdfLink -->
    <ng-container matColumnDef="pdfLink">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>PDF</th>
        <td mat-cell *matCellDef="let element">
            <a [href]="element.pdfLink" download>
                <img src="../../../../assets/icons/ico-pdf-download.svg" alt="Download pdf" width="40px" height="40px">
            </a>
        </td>
    </ng-container>
    <!-- Rows -->
    <tr mat-row *matRowDef="
      let row;
      columns: columns
    "></tr>
</table>

<!-- Paginator -->
<mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"></mat-paginator>