.searchForm {
  display: flex;
  flex-direction: row;
  padding: 1rem;

  .input-year {
    max-width: 4rem;
    margin-right: 3rem;
  }
  
  .input-search {
    max-width: 10rem;;
    input {
      color: #212121;
    }
  }
}
.news-table {
    width: 100%;
    tr {
      height: 3.5rem;
    }
    th {
      padding: 1rem;
      border-bottom: none;
      font-weight: bold;
      font-size: 1rem;
      color: black;
    }
    td {
      padding: 1rem;
      border-bottom: none;
    }
    a {
      text-decoration: none;
      color: #8DC63F
    }
  }