@use 'icon';

:host {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 3;
  // border: 1px solid white;

  .social-button {
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    cursor: pointer;

    &.bottom {
      border-bottom: none;
    }

    .icon {
      @include icon.size(1.5rem);
      height: 2.5rem;
      width: 2.5rem;
    }

    .twitter, .email, .bluesky {
      padding: 8px;
    }
  }
}
