<div class="social-button">
  <a mat-icon-button [href]="twitter" target="_blank" rel="noopener noreferrer">
    <mat-icon class="icon svg twitter" svgIcon="social:x"></mat-icon>
  </a>
</div>
<div class="social-button">
  <a mat-icon-button [href]="bluesky" target="_blank" rel="noopener noreferrer">
    <mat-icon class="icon svg bluesky" svgIcon="social:bluesky"></mat-icon>
  </a>
</div>
<div class="social-button">
  <a mat-icon-button [href]="facebook" target="_blank" rel="noopener noreferrer">
    <mat-icon class="icon svg" svgIcon="social:facebook"></mat-icon>
  </a>
</div>
<div class="social-button">
  <a mat-icon-button [href]="instagram" target="_blank" rel="noopener noreferrer">
    <mat-icon class="icon svg" svgIcon="social:instagram"></mat-icon>
  </a>
</div>
<div class="social-button bottom">
  <a mat-icon-button [href]="email" target="_blank" rel="noopener noreferrer">
    <mat-icon class="icon svg email" svgIcon="social:email"></mat-icon>
  </a>
</div>
