<div class="social-button" (click)="goToLink('https://twitter.com/intent/tweet')">
  <mat-icon class="icon svg twitter" svgIcon="social:twitter"></mat-icon>
</div>
<div class="social-button" (click)="goToLink('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fscimaps.org%2F&amp;src=sdkpreparse')">
  <mat-icon class="icon svg" svgIcon="social:facebook"></mat-icon>
</div>
<div class="social-button" (click)="goToLink('https://www.instagram.com/')">
  <mat-icon class="icon svg" svgIcon="social:instagram"></mat-icon>
</div>
<div class="social-button bottom" (click)="goToLink('mailto:')">
  <mat-icon class="icon svg email" svgIcon="social:email"></mat-icon>
</div>