@use 'icon';
@use 'screen';

$desktop: 1248px;
$tablet: 960px;
$mobile: 640px;

:host {
  display: block;
  // margin-top: 7.5rem;
  overflow-x: hidden;

  .contact {
    display: flex;
    width: 100%;
    height: 3rem;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem 0 0.25rem;

    @media screen and (max-width: $mobile) {
      justify-content: center;
    }

    .social {
      padding: 0 0.75rem;

      .button {
        width: fit-content;
        height: fit-content;

        .icon:hover {
         color: #7997a3;
         background-color: #ffffff;
        }
      }
      .icon.font {
        font-size: 2rem;
      }

      .twitter, .bluesky {
        .icon {
          padding: 12px;
          display: flex;
        }
      }
    }

    .phone {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: auto;
      // padding: 0.75rem 0 0.75rem 0.75rem;

      @media screen and (max-width: $mobile) {
        display: none;
      }

      .text {
        padding: 0 0 0 0.75rem;
      }
      .icon.font {
        font-size: 2rem;
      }
    }

    .icon {
      @include icon.size(3rem);
    }

    .filler {
      flex-grow: 1;
    }
  }

  .acknowledgement {
    padding: 3rem;
  }

  @include screen.breakpoint(mobile) {
    .acknowledgement {
      padding: 1rem;
    }
  }
}
