@use 'icon';
@use 'screen';

:host {
  display: block;

  .contact {
    display: flex;
    width: 100%;
    height: 3rem;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem 0 0.25rem;

    .social {
      padding: 0 0.75rem;

      .button {
        width: fit-content;
        height: fit-content;

        .icon:hover {
         color: #7997a3;
         background-color: #ffffff; 
        }
      }
      .icon.font {
        font-size: 2rem;
      }
    }

    .phone {
      display: flex;
      flex-direction: row;
      align-items: center;
      // padding: 0.75rem 0 0.75rem 0.75rem;

      .text {
        padding: 0 0 0 0.75rem;
      }
      .icon.font {
        font-size: 2rem;
      }
    }

    .icon {
      @include icon.size(3rem);
    }

    .filler {
      flex-grow: 1;
    }
  }

  .acknowledgement {
    padding: 3rem;
  }

  @include screen.breakpoint(mobile) {
    .acknowledgement {
      padding: 1rem;
    }
  }
}
