<div class="contact">
  <div class="social">
    <a mat-icon-button class="button twitter">
      <mat-icon class="icon svg" svgIcon="social:twitter"></mat-icon>
    </a>
  </div>

  <div class="social">
    <a mat-icon-button class="button facebook">
      <!-- <mat-icon class="icon svg" svgIcon="social:facebook"></mat-icon> -->
    </a>
  </div>

  <div class="social">
    <a mat-icon-button class="button email" href="mailto:cnscntr@indiana.edu" target="_blank" rel="noopener noreferrer">
      <mat-icon class="icon font">email</mat-icon>
    </a>
  </div>

  <div class="social">
    <a mat-icon-button class="button instagram">
      <!-- <mat-icon class="icon svg" svgIcon="social:instagram"></mat-icon> -->
    </a>
  </div>

  <div class="social">
    <a mat-icon-button class="button map" href="https://goo.gl/maps/yFFVMmMRzBNYU1pq8" target="_blank" rel="noopener noreferrer">
      <mat-icon class="icon font">room</mat-icon>
    </a>
  </div>

  <span class="filler"></span>

  <div class="phone">
    <mat-icon class="icon font">call</mat-icon>
    <span class="text mat-display-2">{{ phoneNumber }}</span>
  </div>
</div>

<div class="acknowledgement mat-small">
  {{ acknowledgement }}
</div>
