@import '../../../../styling/breakpoints';

:host {
  width: 100%;
  display: flex;
  margin-bottom: 1.5rem;

  .drawer-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .back-button {
      display: flex;
      align-items: center;
      position: absolute;
      justify-self: flex-start;
      cursor: pointer;
      color: #7996a3;
      .back-icon {
        margin-left: -0.5rem;
        margin-right: 1rem;
      }

    //  Hide back text on mobile.
      .back-text {
        display: block;
        @media screen and (max-width: $mobile) {
            display: none;
        }
      }
    }
    .title {
      color: #757575;
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-left: auto;
      margin-right: auto;
      h3 {
        margin-bottom: 0;
      }
    }
  }
}
