<div class="list-container">
  <div class="list" *ngIf="items.length > 0">
    <ng-container *ngFor="let item of items; let i = index;">
      <sci-venue-item *ngIf="showAllItems || i < displayLimit" [item]="item"></sci-venue-item>
    </ng-container>
  </div>
  <div class="no-search" *ngIf="items.length == 0">
    <p class="no-result-text">
      No results matched your search
    </p>
  </div>

  <div class="total">
    {{ totalResultsText }}
  </div>
  
  <div *ngIf="items.length > displayLimit" class="show-more" (click)="showAllItems = !showAllItems">
    {{ showAllItems ? 'Show Less' : 'Show More News' }}
  </div>
</div>