<h2 class="header2 title" *ngIf="title !== ''">{{ title }}</h2>
<div markdown class="description"  *ngIf="description !== ''" [data]="description"></div>

<!-- Grouped Profiles -->
<ng-container *ngIf="groupBy; else withoutGroup;">
  
  <div *ngFor="let group of profilesByGroup | keyvalue;">
    <h4>{{REGIONS[group.key] ? REGIONS[group.key] : group.key}}</h4>
    <ng-container *ngTemplateOutlet="profilesTemplate; context: {'profiles': group.value}">
    </ng-container>
  </div>
</ng-container>

<ng-template #withoutGroup>
  <ng-container *ngTemplateOutlet="profilesTemplate; context: {'profiles': profiles}">
  </ng-container>
</ng-template>

<!-- Common Template for Array of Profiles -->
<ng-template #profilesTemplate let-profiles="profiles">
  <div class="profile-container">
    <div class="profile" *ngFor="let profile of profiles;">
      <sci-profile-item [profile]="profile" [compact]="compact"></sci-profile-item>
    </div>
  </div>  
</ng-template>
