<h2 class="header2 title" *ngIf="title !== ''">{{ title }}</h2>
<div markdown class="description"  *ngIf="description !== ''" [data]="description"></div>
<div class="profile-container">
  <div class="profile" *ngFor="let profile of profiles">
    <img class="profile-image" [src]="profile.image" [alt]="profile.image">
    <div class="profile-about">
      <div class="profile-name">{{ profile.name }}</div>
      <div class="profile-title">{{ profile.title }}</div>
      <div class="profile-affiliation" *ngIf="compact === true">{{ profile.affiliation }}</div>
      <div markdown class="profile-body" *ngIf="compact === false" [data]="profile.body"></div>
    </div>
  </div>
</div>
