$desktop: 1248px;
$tablet: 960px;
$mobile: 640px;

:host {
  .title {
    // margin-bottom: 1rem;
  }

  .description {
    margin-bottom: 2rem;
  }

  .profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .profile {
      display: flex;
      justify-content: space-between;
      width: 30%;
      margin-bottom: 1.5rem;

      @media (max-width: $tablet) {
        width: 48%;
      }

      @media (max-width: $mobile) {
        width: 100%;
      }
    }
  }
}
