<table>
  <tr>
    <th (click)="changeSortBy(header.key)" *ngFor="let header of headers">
      {{ header.label }}
      <mat-icon class="sort-icon" [class.active]="sort === header.key">{{ getSortIcon(header.key) }}</mat-icon>
    </th>
  </tr>
  <tr *ngFor="let row of sortedData">
    <ng-container *ngFor="let field of headers">

      <td *ngIf="field.format === 'text'; else notText">{{ getDataField(row, field.key) }}</td>

      <ng-template #notText>
        <td class="icons-cell">
          <mat-icon *ngFor="let item of getDataField(row, field.key)" class="icon" (click)="goToLink(item.url)">{{ item.icon }}</mat-icon>
        </td>
      </ng-template>

    </ng-container>
  </tr>
</table>

<button class="more-button" (click)="increaseItemsToShow()">{{ moreButtonLabel }}</button>