:host {
    .card {
        max-width: 100%;
        display: flex;
        margin-top: .5rem;
        margin-bottom: .5rem;
        cursor: pointer;

        .thumbnail {
            height: 4.2rem;
            width: 4rem;
            background-size: cover;
        }

        .title {
            flex-grow: 1;
            font-size: 1rem;
            padding: .75rem;
            align-self: center;
        }

        .icon {
            margin-right: 1rem;
            align-self: center;
        }
    }
}