@import "~@angular/material/theming";

$grey: $mat-grey;
$grey-palette: mat-palette($grey, 300, 50, 600);

$blue-grey: (
  100: #ebf0f1,
  500: #7996a3,
  700: #4a5f68,
  contrast: (
    100: black,
    500: white
    700: white
  )
);
$blue-grey-palette: mat-palette($blue-grey, 500, 100, 700);

$green: (
  100: #f9fcf5,
  500: #8dc63f,
  700: #4c7520,
  contrast: (
    100: black,
    500: white,
    700: white
  )
);
$green-palette: mat-palette($green, 500, 100, 700);


$color: (
  primary: $blue-grey-palette,
  accent: $green-palette,
  warn: mat-palette($mat-red)
);
