@use "~@angular/material/theming" as mat;
@use "colors";
@use "typography";

@forward "colors" show $color;
@forward "typography" show $typography;

$theme: mat.mat-light-theme(
  (
    color: colors.$color,
    typography: typography.$typography
  )
);
