@import '~@angular/material/theming';

$typography: mat-typography-config(
  $font-family: 'Lato, sans serif',
  $headline: mat-typography-level(2.5rem, 2.5rem, 300),
  $caption: mat-typography-level(0.625rem, 0.625rem, 400),
  $button: mat-typography-level(0.75rem, 0.75rem, 500)
)
