<div class="purchase-modal wrapper">
  <div class="container">
    <div class="content">
      <mat-dialog-content class="purchase-info">
        <p>Purchase Map(s)</p>
        <p class="description">
          Most exhibit maps can be purchased individually. Maps are 30" x 24" (76cm x 61cm). Different Pricing options are available.
        </p>
        <ul class="purchase-options">
          <li>Inkjet print: $45 ea*</li>
          <li>Premium archival print: $100 ea*</li>
          <li>Iteration poster sets (inkjet): $150 per iteration* or $950 for all 20 posters*</li>
        </ul>
        <p>*plus shipping</p>
        <p class="instructions">
          Complete and submit the form. You will be contacted by a staff member to complete your order and verify all information.
        </p>
      </mat-dialog-content>

      <mat-dialog-content class="purchase-form">
        <div>form goes here</div>
        <div class="button-container">
          <button class="send-button" (click)="buttonClickHandler()">SEND</button>
        </div>
      </mat-dialog-content>
    </div>
  </div>
</div>