:host {

  .content {
    display: flex;

    .purchase-info, 
    .purchase-form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .purchase-form {
      // background-color : #7996A3;

      .button-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    
        .send-button {
          padding: .5rem;
          cursor: pointer;
        }
      }
    }
  }
}