$breakpoint: 768px;

::ng-deep mat-dialog-container { 
  padding: 0 !important;

  mat-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
  }
}

:host {
  .purchase-modal {
    width: 100%;
    .container {
      height: 100%;
    }
  }
  ::ng-deep mat-dialog-content {
    max-height: unset;
  }

  .close-icon {
    display: none;

    @media (max-width: $breakpoint) {
      position: absolute;
      right: 12%;
      margin-top: -3.5rem;
      cursor: pointer;
    }
  }

  .screen1 {
    display: flex;

    @media (max-width: $breakpoint) {
      flex-direction: column;
    }

    .purchase-info, 
    .purchase-form-container {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 2rem;

      @media (max-width: $breakpoint) {
        width: 100%;
      }
    }

    .purchase-info {
      .purchase-options {
        padding-inline-start: 1rem;
        margin-bottom: 1.5rem;
      }
      .instructions {
        margin-top: 3rem;
      }
    }

    .purchase-form-container {
      @media (max-width: $breakpoint) {
        margin-left: 0;
      }

      .purchase-form {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        .name-inputs,
        .shipping-input,
        .address-inputs,
        .contact-inputs {
          display: flex;
          justify-content: space-between;
          height: 15%;
        }

        ::ng-deep .mat-form-field {
          width: 100%;

          .mat-form-field-flex {
            background-color: inherit;
            padding-left: 0;
          }
        }

        .first-name {
          width: 45%;
        }
        .last-name {
          width: 50%;
        }
        .city {
          width: 40%;
        }
        .state {
          width: 35%;
        }
        .zip {
          width: 20%;
        }
        .email {
          width: 60%;
        }
        .phone {
          width: 35%;
        }

        .shipping-info {
          height: 40%;
          display: flex;
          flex-direction: column;

          .shipping-info-label {
            margin-bottom: 0.5rem;
          }
          .textarea {
            border-style: solid;
            border-width: 1px;
            height: calc(100% - 1rem);
          }
        }

        .button-container {
          width: 100%;
          margin-top: 1rem;
          display: flex;
          justify-content: flex-end;
      
          .button {
            cursor: pointer;
            background-color: inherit;

            &.cancel {
              margin-right: 2rem;
              border: none;
            }

            &.send {
              padding: .5rem;
              border-width: 1px;
              border-style: solid;
              text-decoration: none;
            }
          }
        }
      } 
    }
  }

  .screen2 {
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 25rem;

      .confirmation-header {
        text-align: center;
      }

      .confirmation-text {
        margin: 0 0 1.5rem;
        width: 60%;
        text-align: center;
      }

      .button {
        cursor: pointer;
        padding: .5rem;
        border-width: 2px;
        border-style: solid;
        background-color: inherit;
      }
    }
  }
}