@import "../../../styling/breakpoints";

:host {
  .featured-blog {
    .featured-container {
      width: 100%;
      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 30rem;
      }
    }
  }

  .featured-video {
    .iframe {
      margin: auto;
      display: block;
      max-width: 100%;
      max-height: 100%;
      border: 0;
    }
  }

  .desktop-menu {
    .category {
      display: flex;
      flex-direction: column;
    }
  }

  .category-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    // three dot
    .icon-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 15rem;
    }
    .icon {
      cursor: pointer;
    }
  }

  // Mobile UI.
  .mobile-menu {
    display: flex;
    flex-direction: column;
    .mobile-button {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0.75rem;
      font-size: 1rem;
      cursor: pointer;
      border: 1px solid #e0e0e0;
      border-left: none;
      border-right: none;
      color: #757575;
      .mobile-icon {
        font-size: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
        cursor: pointer;
      }
    }
  }
}
