<h2 class="header">Learning Center</h2>

<!-- Featured -->
<div class="featured-container">
  <img [src]="body.image" alt="Image" />
</div>

<div class="spacer-48"></div>

<div class="featured-description">
  <div markdown [data]="body.description">
    {{ body.description }}
  </div>
</div>

<div class="spacer-48"></div>

<!-- Desktop / Tab -->
<div class="desktop-menu" *sciBreakpoint="'mobile+'">
  
  <!-- Blogs -->
  <div class="category">
    <p>Blog ( {{ blogs.length }} )</p>
    <div class="category-row">
      <ng-container *ngFor="let blog of blogs; let i = index">
        <sci-blog-tile *ngIf="i < itemsPerRow" [blog]="blog"></sci-blog-tile>
      </ng-container>
      <div class="icon-container">
        <mat-icon class="more icon" (click)="goto('blogs')"
          >more_vert</mat-icon
        >
      </div>
    </div>
  </div>

  <!-- Video -->
  <div class="category">
    <p>Videos ( {{ videos.length }} )</p>
    <div class="category-row">
      <ng-container *ngFor="let video of videos; let i = index">
        <div class="item" *ngIf="i < itemsPerRow">
          <div class="image-container">
            <img [src]="video.image" alt="Video Thumbnail" />
          </div>
          <div class="title">
            <p>{{ video.title }}</p>
          </div>
        </div>
      </ng-container>
      <div class="icon-container">
        <mat-icon class="more icon" (click)="goto('videos')"
          >more_vert</mat-icon
        >
      </div>
    </div>
  </div>

</div>

<!-- Mobile -->
<div class="mobile-menu" *sciBreakpoint="'mobile-'">
  <div class="mobile-button" (click)="goto('blogs')">
    Blogs ( {{ blogs.length }} )
    <mat-icon class="mobile-icon">chevron_right</mat-icon>
  </div>
  <div class="mobile-button" (click)="goto('videos')">
    Videos ( {{ videos.length }} )
    <mat-icon class="mobile-icon">chevron_right</mat-icon>
  </div>
</div>


<router-outlet></router-outlet>
